<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="post" th:action="@{/auth/registration}" th:object="${person}">
    <label for="name">Введите ФИО</label>
    <input type="text" th:field="*{name}" placeholder="Фамилия Имя Отчество" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="dateOfBirth">Введите дату рождения</label>
    <input type="text" th:field="*{dateOfBirth}" placeholder="день.месяц.год" id="dateOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of birth error</div>
    <br/>
    <label for="password">Введите пароль</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <input type="submit" value="Sign up!">
</form>

</body>
</html>